@keyframes opac {
 
  0% {
    opacity: 0;
    top: 1000px;
  }
  
  100% {
    opacity: 100;
    top: 0px;
  }
  
}

@keyframes transi {

  0% {
    left: 1000px;
  }
  
  100% {
    left: 0px;
  }
}